html {
  background-color: black;
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

p, a {
  color: gray;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.main {
  align-items: center;
  display: flex;
  height: 1024px;
  width: 512px;
}

.info {
  align-items: center;
  display: flex;
  height: 512px;
  width: 1024px;
  justify-content: space-between;
}

.error {
  align-items: center;
  display: block;
  text-align: center;
  padding-top: 256px;
}

.personal {
  height: 512px;
  text-align: center;
  width: 256px;
}

.content {
  height: 512px;
  text-align: center;
  width: 256px;
}

.me {
  border: 5px solid lightgray;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
}

.header {
  text-align: center;
  padding-top: 128px;
  padding-bottom: 128px;
}

.site {
  height: 512px;
  width: 450px;
}

.myself{
  height: 512px;
  width: 450px;
}

a:hover {
  color: green;
}
